

/* produk quantity + */
.warp-qty {
  padding-bottom: 20px;
}

.input-group {
  width: 110px;
  height: 40px;
}

.input-number {
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.btn-plus {
  display: inline-block;
  width: auto;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: solid 0.5px;
  border-color: rgb(195,195,195);
  border-radius: 0px 3px 3px 0px;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 7px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn-plus i {
  color: rgb(0,0,0);
}
.btn-minus {
  display: inline-block;
  width: auto;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px 0px 0px 3px;
  border: solid 0.5px;
  border-color: rgb(195,195,195);
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 7px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
